body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #24292e;
  background-color: #ffd978;
}
.navbar{
  background-color: #151515;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.logo{
  height: 3%;
  width: 3%;
  margin-right: 16px;
}
.nav-links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.nav-links li{
  float: center;
}
.nav-links li a{
  display: block;
  color: white;
  text-align: center;
  padding-right: 50px;
  text-decoration: none;
}
.home-icon{
  height: 30px;
  width: 30px;
}
.contact-icon{
  height: 30px;
  width: 30px;
}
.msg-icon{
  height: 30px;
  width: 30px;
}
.search-icon{
  height: 30px;
  width: 30px;
}
.settings-icon{
  height: 30px;
  width: 30px;
}
